doctype html
html
  head
    meta(charset='UTF-8')
    title Calmbikers | Home
    link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Oleo+Script', rel='stylesheet')
    link(rel='stylesheet', href='app.css')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(charset='UTF-8')
  body
    section#main-container
     
    footer.site-footer
      .container
        .row
          .col.s12.l3.center-align
            // Dropdown Trigger
            a.dropdown-button.btn.btn-flat(href='#', data-activates='idioma-drop') Idioma
            // Dropdown Structure
            ul#idioma-drop.dropdown-content
              li
                a(href='#!') ESP
              li
                a(href='#!') ENG
          .col.s12.l3.push-l6.center-align © 2017 
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js')
